{% extends "base.html" %}
{% load static %}


{% block title %}Detalhes do Evento{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <br>
                {% if voting_already_close is False %}
                    {% if voting_open is False %}
                        <a href="{% url 'videos:add' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add</i>Adicionar vídeo</a>
                        {% if request.user.is_staff %}
                            <br>
                            <br>
                            <a href="{% url 'events:create_voting' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">done</i>Criar votação</a>
                            <a href="{% url 'events:create_voting_with_password' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">vpn_key</i>Criar votação com senha</a>
                        {% endif %}
                    {% else %}
                        {% if voting_open is True and user_already_vote is False and voting_with_password is False %}
                            <a href="{% url 'events:vote_video' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add</i>Votar</a>
                        {% endif %}
                        {% if voting_open is True and user_already_vote and voting_with_password is False %}
                            <a href="{% url 'events:vote_video' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">repeat</i>Redefinir Voto</a>
                        {% endif %}

                        {% if voting_open is True and user_already_vote is False and voting_with_password is True %}
                            <a href="{% url 'events:vote_video_with_password' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">add</i>Votar</a>
                        {% endif %}
                        {% if voting_open is True and user_already_vote and voting_with_password is True %}
                            <a href="{% url 'events:vote_video_with_password' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">repeat</i>Redefinir Voto</a>
                        {% endif %}

                        {% if request.user.is_staff %}
                            <a href="{% url 'events:finish_voting' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">lock_outline</i>Finalizar Votação</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if request.user.is_staff %}
                        <a href="{% url 'events:reopen_voting' event.id %}" class="waves-effect waves-light btn blue darken-3"><i class="material-icons left">lock_open</i>Reabrir votação</a>
                    {% endif %}
                {% endif %}
                <!-- First Card -->
                <div class="card">
                    <div class="card-content ">
                        <ul>
                            <li><strong> Nome: </strong></strong>{{ event.name }}</li>
                            <li><strong> Data de início: </strong>{{ event.date_start }}</li>
                            <li><strong> Data de Término:</strong>{{ event.date_end }}</li>
                            <li><strong> Público Estimado: </strong>{{ event.estimated_public }}</li>
                            <li><strong> Descrição: </strong>{{ event.description }}</li>
                            <li><strong> Demais Informações: </strong>{{ event.other_informations }}</li>
                            <li><strong> Local: </strong>{{ event.name_institute }}</li>
                            <li><strong> Endereço: </strong>{{ event.institute_address }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% for video, vote in videos_and_votes_list %}
            <div class="row">
                <div class="col s12 m8">
                    <div class="card blue darken-3">
                        {% if voting_open is False %}
                            <div class="card-content white-text flow-text">
                                <a class="white-text" href={% url 'videos:detail' video.id %}>{{ video.name }}</a>
                                <br>
                                <iframe src="{{ video.link }}" width="560" height="315"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <div class="card-content white-text flow-text">
                                <a class="white-text" href={% url 'videos:detail' video.id %}>{{ video.name }} possui {{ vote }} voto(s)</a>
                                <br>
                                <iframe src="{{ video.link }}" width="560" height="315"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>Ainda não há vídeo cadastrado.</h3>
        {% endfor %}

        <div class="pagination flow-text">
         <span class="step-links">
            {% if videos_list.has_previous %}
                <a href="?page={{ videos_list.previous_page_number }}">Anterior</a>
            {% endif %}

             <span class="current">
                Página {{ videos_list.number }} de {{ videos_list.paginator.num_pages }}.
            </span>

             {% if videos_list.has_next %}
                 <a href="?page={{ videos_list.next_page_number }}">Próxima</a>
             {% endif %}
        </span>
        </div>
    </div>

{% endblock content %}
