{% extends "base.html" %}
{% load static %}

{% block title %}Vídeos{% endblock %}

{% block content %}
    <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-field col s12">
              <input id="password" name="password" type="text" class="validate">
              <label for="password">Senha</label>
        </div>
        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Enviar Senha
        <i class="material-icons right">done</i>
    </form>
    </div>

{% endblock content %}