{% extends "base.html" %}
{% load static %}

{% block title %}Vídeos{% endblock %}

{% block content %}
    <div class="container">
    <form action="" method="post">
    {% csrf_token %}
    <div class="input-field col s12">
          <input id="password" name="password" type="text" class="validate">
          <label for="password">Senha</label>
        </div>
        <br>
        {% for video in videos_list %}
            <div class="row">
                <div class="col s12 m6 l5">
                <p>
                            <input type="checkbox" name="checkvoting" id="{{ video.id }}" value="{{ video.id }}"/>
                            <label for="{{ video.id }}">{{ video.name }}</label>
                            </p>
                    <div class="card blue darken-3">
                        <div class="card-content white-text flow-text">
                            <iframe src="{{ video.link }}" width="280" height="158"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>Ainda não há vídeo cadastrado.</h3>

        {% endfor %}
        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Iniciar votação
        <i class="material-icons right">send</i>
    </button>
    </form>
    </div>

{% endblock content %}