{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Summaê - Somas com Chapéu</title>

  <!-- CSS  -->
  <!-- <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
  <link href="/static/css/project.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/images/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  <script type="javascript" src="/static/js/materialize.js"></script>
  <script type="javascript" src="/static/js/project.js"></script>
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script-->
<script src="{% static 'js/project.js' %}"></script>


</head>

<style type="text/css">
  .footer {
    background-color: #448aff;
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
  }
</style>

  <body>
    <nav class="blue accent-2" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo">Summaê</a>
        {% if request.user.is_authenticated %}
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'users:detail' request.user.username  %}">Meu Perfil</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'account_logout' %}">Log out</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="/videos/">Todos os vídeos</a></li>
          </ul>
        {% else %}
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'account_signup' %}">Faça seu cadastro</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'account_login' %}">Login</a></li>
          </ul>
        {% endif %}
        <ul class="right hide-on-med-and-down">
          <li><a href="/events/">Eventos</a></li>
        </ul>
          <ul class="right hide-on-med-and-down">
            <li><a href="/videos/">Todos os vídeos</a></li>
          </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">Sobre</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% block javascript %}
      <!-- Required by Bootstrap v4 Alpha 4 -->

      <script type="text/javascript">
        $("#like").click(function(){
            var button = $(this)
              $.ajax({
                   type: "POST",
                   url: "{% url 'videos:like' %}",
                   data: {'video_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
{#                       alert('Video likes count is now ' + response.likes_count);#}
                       if(response.like){
                           button.val(response.likes_count+" Unlike")
                       }else{
                           button.val(response.likes_count+" Like")
                       }
                    }, error: function(rs, e) {
                       alert(rs.responseText);
                   }
              });
        })
      </script>


    {% endblock %}


    <footer class="page-footer">
          <center><div class="container">
            <div class="row">
              <img src="{% static "images/summaeh.jpg" %}" alt="My image" style="width: 400px; border-radius: 15%"/>
            </div>
          </div></center>
          <center><div class="footer-copyright">
            <div class="container">
            Summaê <br>
        "Um método diferente para estudar e compartilhar conhecimento" <br>
        Contato: Prof. Ricardo Fragelli - fragelli@unb.br <br>
            © 2014 Copyright Text
                        <br>            <br>
            </div>
          </div></center>
        </footer>

  </body>
</html>

