{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<style>
  table {
    margin-left: 50px;
    width: 80%;
  }

  td {
    padding-top: 0px;
    padding-right: 40px;
  }

</style>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.username }}</h2>
      <table
        <tr>
          <th>
            {% if object.name %}
              Nome
            {% endif %}
          </th>
          <th>Email Ativo:</th>
          <th>Ultimo Login</th>
        </tr>
        <tr>
          <td>
            {% if object.name %}
              {{ object.name }}
            {% endif %}
          </td>
          <td> {{object.email}} </td>
          <td> {{ object.last_login }} </td>
        </tr>
      </table>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12" style="padding-left: 125px;">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Nome</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <a href="/" class="btn">Voltar</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
