{% extends "base.html" %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="blue-text text-accent-2">Sobre o projeto Summaê</h2>

        <h5 class="light" style="text-align: left;">
          Criado em 2007 pelo professor Ricardo Fragelli, é um projeto que visa mostrar
          aos integrantes, população ou estudantes, que aprender pode ser sim divertido!
          <br><br>
          Venha aprender com a gente: registre-se no site e envie seu vídeo com.
        </h5>

        <br><br>
        <h6 class="light">
          Deseja manter-se atuliaziado sobre todas as novidades? <br>
          Entre no nosso grupo <a href="https://www.facebook.com/groups/502295913133367/"> aqui </a>!
        </h6>
    </div>
  </div>
{% endblock %}
