{% extends "base.html" %}

{% block content %}
<div class = "container">
 <div class="row">
        <div class="col s12 m6">
        <!-- First Card -->
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title"><-- Nome do video vem aqui --></span>
              <p>
                <br> Autor: Pessoa
                <br> <-- Inserir data e hora aqui -->
                <br> Sobre o vídeo: <-- Descricao -->
              </p>
            </div>
            <div class="card-action">
              <a href="#">Editar Vídeo</a>
              <a href="#">Apagar vídeo</a>
            </div>
            <div class="card-content white-text">
              <br> Area de Respostas 
              <br> Seja o   primeiro a responder: <a href="#">Inserir respostas</a>
            </div>
          </div>
          <!-- Second Card -->
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title"><-- Nome do video vem aqui --></span>
              <p>
                <br> Autor: Pessoa
                <br> <-- Inserir data e hora aqui -->
                <br> Sobre o vídeo: <-- Descricao -->
              </p>
            </div>
            <div class="card-action">
              <a href="#">Editar Vídeo</a>
              <a href="#">Apagar vídeo</a>
            </div>
          </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
            
