{% extends "base.html" %}
{% load static %}

{% block title %}Detalhes do vídeo{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
        <div class="col s12 m8">
        <!-- First Card -->
          <div class="card">
            <div class="card-content ">
             <h3>{{ video.name }}</h3>
        <br>
        <iframe src="{{ video.link }}" width="560" height="315"
               frameborder="0" allowfullscreen></iframe>
        <br>
            <input type="button" id="like" name="{{ video.id }}" value="{{ num_likes }}{% if user_already_like %} Unl{% else %} L{% endif %}ike" />
        <br>
              <span class="card-title">Questão Sobre o Método SUMMAÊ</span>
              <p>
                <br> ----------- VIDEO ----------------
                <br> Autor: Ricardo Wobeto (rpwobeto)
                <br> 2017-04-05, às 16:49:28
                <br> Sobre o vídeo: Questão sobre o SUMMAÊ
              </p>
            </div>
            <div class="card-action" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2);">
              <a href="#">Editar Vídeo</a>
              <a href="#">Apagar vídeo</a>
            </div>
            <div class="card-content white-text"  style="padding-top: 0px;">
              <br> Area de Respostas
              <br> Seja o   primeiro a responder: <a href="#">Inserir respostas</a>
            </div>
          </div>
        </div>

</div>
    {% for comment in comments_list %}
        <a>{{ comment.comment }}</a>
    {% empty %}
            <h3>Ainda não há comentário no vídeo.</h3>
    {% endfor %}
</div>
{% endblock content %}
