{% extends "base.html" %}
{% load static %}

{% block title %}Vídeos{% endblock %}

{% block content %}
<style>
  .pesquisa {
    width: 260px;
    float: right;
    position: absolute;
    top: 100px;
    right: 100px;
}

</style>

<!-- CASO A PESQUISA SEJA FIXED, SERÁ NECESSÁRIA ESSA FUNÇÃO PARA NÃO COBRIR O FOOTER
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  (window).scroll(function(){
    $("#pesquisa").css("top", Math.max(0, 1000 - $(this).scrollTop()));
  });
</script>
 -->
<div class="container">
<br>
<a href="{% url 'videos:add' %}" class="waves-effect waves-light btn-large blue darken-3"></i>Adicionar vídeo</a>

    <br>
    <br>

    {% for video in videos_list %}
         <div class="row">
         <div class="col s12 m8">
         <div class="card blue darken-3">
            <div class="card-content white-text">
         <a class = "white-text" href={% url 'videos:detail' video.id %}>{{ video.name }}</a>
        <br>
        <iframe src="{{ video.link }}" width="560" height="315"
               frameborder="0" allowfullscreen></iframe>
               </div>
        </div>
        </div>
        </div>
        <br>

    {% empty %}
        <h3>Ainda não há vídeo cadastrado.</h3>

    {% endfor %}



    <div class="pagination flow-text">
         <span class="step-links">
            {% if videos_list.has_previous %}
                <a href="?page={{ videos_list.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ videos_list.number }} de {{ videos_list.paginator.num_pages }}.
            </span>

            {% if videos_list.has_next %}
                <a href="?page={{ videos_list.next_page_number }}">Próxima</a>
            {% endif %}
        </span>
    </div>

    <div class="card blue darken-3 pesquisa">
      <div class="card-content white-text" style="padding-bottom: 0px;">
        <span class="card-title">Busca de Vídeos</span>
        <br>
        Deseja buscar por:

        <p>
          <input class="with-gap" name="search_type" type="radio" id="id_video"  />
          <label for="id_video" >Id do Vídeo</label> <br>
          <input class="with-gap" name="search_type" type="radio" id="id_area"/>
          <label for="id_area" >Id da Área do Vídeo</label>
        </p>

        <p>
          <input class="with-gap" name="search_type" type="radio" id="title"  />
          <label for="title" >Titulo</label> <br>
          <input class="with-gap" name="search_type" type="radio" id="author"  />
          <label for="author" >Autor</label> <br>
          <input class="with-gap" name="search_type" type="radio" id="description"  />
          <label for="description" >Descrição</label>
        </p>

        <div class="row">
          <div class="input-field col s8">
            <input id="search" style="width: 200px;" type="text" placeholder="Conteúdo da busca">
          </div>
        </div>
      </div>
      <div class="card-action">
        <a href="#">Buscar</a>
      </div>
    </div>

</div>

{% endblock content %}
